<mat-toolbar class="custom-toolbar">
  <span class="brand">Bred APP</span>
  <span class="spacer"></span>

  <button mat-button
          class="nav-btn"
          routerLink="/search"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
    Recherche de villes
  </button>

  <button mat-button
          class="nav-btn"
          routerLink="/find-cities"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
    La ville la plus proche
  </button>
</mat-toolbar>

<main class="page-content">
  <router-outlet></router-outlet>
</main>
